<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psi.dao.MenuDao">
	<resultMap type="Menu" id="MenuResult">
		<result property="id" column="ID" />
		<result property="level" column="LEVEL" />
		<result property="name" column="NAME" />
		<result property="url" column="URL" />
		<result property="orderFlag" column="ORDER_FLAG" />
		<result property="icon" column="ICON" />

		<association property="parentMenu" column="PARENT_ID" select="com.psi.dao.MenuDao.getById"></association>
		<association property="role" column="ROLE_ID" select="com.psi.dao.RoleDao.getById"></association>
	</resultMap>
	
	<sql id="Base_Column_List" >
		ID, LEVEL, PARENT_ID, NAME, URL,ORDER_FLAG,ICON,ROLE_ID
	</sql>
	
	<select id="getById" resultMap="MenuResult">
		select <include refid="Base_Column_List" /> from menu where ID = #{id}
	</select>
	
	<insert id="insert">
		insert into menu(<include refid="Base_Column_List" />)
		 values(#{id}, #{level}, #{parentMenu.id}, #{name}, #{url},#{orderFlag},#{icon},#{role.id})
	</insert>
	
	<delete id="delete">
		delete from menu where ID = #{id}
	</delete>
	
	<update id="modify" parameterType="Menu">
		update menu
		<set>
			<if test="level != null and level !=''">
				LEVEL = #{level},
			</if>
			<if test="parentMenu.id != null">
				PARENT_ID = #{parentMenu.id},
			</if>
			<if test="name != null and name !=''">
				NAME = #{name},
			</if>
			<if test="url != null and url !=''">
				URL = #{url},
			</if>
			<if test="orderFlag != null and orderFlag !=''">
				ORDER_FLAG = #{orderFlag},
			</if>
			<if test="icon != null">
				ICON = #{icon},
			</if>
			<if test="role.id != null">
				ROLE_ID = #{role.id},
			</if>
		</set>
		where ID = #{id}
	</update>
	  
	<select id="queryList" resultMap="MenuResult">
		select <include refid="Base_Column_List" />
		from menu m
		order by LEVEL,ORDER_FLAG

		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" resultType="Long">
		select count(*) from menu
	</select>
		
	<select id="selectMenuByParentId" resultMap="MenuResult">
		select <include refid="Base_Column_List" />
		from menu m
		where PARENT_ID = #{parentId}
		order by ORDER_FLAG
	</select>
</mapper> 
