<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psi.dao.ReplenishDao">
	<resultMap type="Replenish" id="ReplenishResult">
		<result property="id" column="ID" />
		<result property="sn" column="SN" />
		<result property="userId" column="USER_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="totalMoney" column="TOTAL_MONEY" />
		<result property="remark" column="REMARK" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		ID, SN, USER_ID, CREATE_TIME, TOTAL_MONEY, REMARK
	</sql>
	
	<select id="getById" resultMap="ReplenishResult">
		select <include refid="Base_Column_List" /> from replenish where ID = #{id}
	</select>
	
	<insert id="insert">
		insert into replenish(<include refid="Base_Column_List" />)
		 values(#{id}, #{sn}, #{userId}, #{createTime}, #{totalMoney},#{remark})
	</insert>
	
	<delete id="delete">
		delete from replenish where ID = #{id}
	</delete>
	
	<update id="modify" parameterType="Replenish">
		update replenish
		<set>

		</set>
		where ID = #{id}
	</update>
	  
	<select id="queryList" resultMap="ReplenishResult">
		select <include refid="Base_Column_List" />
		from replenish r
		<where>
			<if test="sn != null and sn != ''">
				and SN like CONCAT('%',#{sn},'%') 
			</if>
			<if test="startTime != null and startTime != ''">
				and CREATE_TIME <![CDATA[>=]]> #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and CREATE_TIME <![CDATA[<=]]> #{endTime}
			</if>
		</where>
		order by CREATE_TIME desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" resultType="Long">
		select count(*) from replenish
	</select>
		
</mapper> 
